
body
	{
		background: url('../images/bgS.jpg');
		font-family: 'lane_-_narrowregular', sans-serif;
    line-height: 30px;
	}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: 'Kreon', serif;
  font-weight: 400;
  color: white;
}

h2,h3 {
  font-weight: bold;
}

hr {
  border-color: #CC2727;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}
img:hover {
  cursor: pointer;
  opacity: 0.5;
}
a{
  color: red;
}

/* navigation */
.navbar-default {
    background: black;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
    opacity: 0.90;
  }
.navbar-default .navbar-brand {
    background: #CC2727;
    color: black;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    padding: 20px 20px 40px 20px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
   }
.navbar-brand:hover, .navbar-brand:clicked {
  background: F40E0E;
}
.navbar-default .navbar-nav li a {
   /* border-right: 1px solid black;*/
    color: red;
     font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;
	
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CC2727;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #CC2727;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #CC2727;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}
.dropdown li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    color: black;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

/* home section */
#home {
  /*background: url('../images/home-bg.jpg')no-repeat;*/
  
  background-position: center;
  min-height: 600px;
  padding-top: 220px;
  padding-bottom: 100px;
}
#home h1 {
  color: white;
  font-weight: 300;
  padding-bottom: 10px;
}
#home h2 {
  line-height: 10px;
  color: white;
}
#home .btn {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444;
  border-radius: 0px;
  color: #444;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
   transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #CC2727;
  border-color: transparent;
  color: #fff;
}
#home p{
  text-align: justify;
}

/* service section */
#service {
  padding-top: 100px;
  padding-bottom: 80px;
}
#service p{
  text-align: justify;
}
#service h2 {
  border-left: 2px solid #CC2727;
  display: inline-block;
  padding: 20px;
  color: white;
}
#service h3 {
  color: white;
}
#service h4 {
  color: red;
  font-size: 40px;

}
#service img{
  padding-top: 30px;
}

.caption {
  padding-top:25px;
  text-align: center;
}

.caption a{
  color: red;
}

/* about section */

#about h2 {
  border-right: 2px solid #CC2727;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  color: white;
}
#about .col-md-12 {
  padding-top: : 50px;
}
#about img {
  border: 3px solid #666;

}
#about h3 {
  color: white;
}
#about h4 {
  padding-bottom: 10px;
  color: white;
}
#about p{
  text-align: justify;
}

#about .container {
  padding: 40px;
  background: black;
}
  
/* contact section */
#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
#contact .container{
  background: black;
}
#contact h2 {
  border-right: 2px solid #CC2727;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  margin-bottom: 60px;
  color: white;
}
#contact .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#contact .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}
#contact p {
  padding-top: 10px;
  color: white;
}
.form-control::-moz-placeholder {
  color: #202020;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #202020;
}
.form-control::-webkit-input-placeholder {
  color: #202020;
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .container {
  padding: 40px;
  background: black;
}
footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  color: white;
}
footer p {
  line-height: 20px;
  color: white;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #444;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.social-icons li a:hover {
  background: #CC2727;
}

/* copyright section */
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: black;
}
  

/* scrolltop section */
.go-top 
  {
    background-color: #CC2727;
    font-size: 26px;
    bottom: 2em;
    right: 2em;
    color: #FFF;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.go-top:hover
  {
  background-color: #444;
	color: #fff;
  }

/* media 960 */
@media only screen and ( max-width: 980px ) {
  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
  }
}

/* media 360 */
@media only screen and ( max-width: 360px ) {
  #team h4 {
    padding-bottom: 30px;
  }
}


#homeS {
  background: url('../images/bgS.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding-top: 220px;
  padding-bottom: 100px;
}
#homeS h3{
  color: white;
  font-size:50px;
}

#homeS .container {
  padding: 40px;
}
#homeS .row {
  padding: 40px;
  background: black;
}
#homeS h4{
  color: white;
}
#homeS li{
  color:white;
}
#homeS img {
  border: 4px solid #666;

}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#vendor {
  background: url('../images/bgS.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding-top: 220px;
  padding-bottom: 100px;
}

